@using TMS.Dtos
@{
    ViewData["Title"] = "Balance Sheet";
    var custs = ViewBag.Customers as List<CustomerDto>;
}
<div class="content-wrapper">
    @await Component.InvokeAsync("BreadCrumb", new { Title = localizer["Balance_Sheet"], From = localizer["Home"], To = localizer["Balance_Sheet"] })

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Customer Name</label>
                    <select class="form-control select2" id="ddlCustomer">
                        <option value="">All Customers</option>
                        @foreach (var x in custs)
                        {
                            <option value="@x.Id">@x.FirstName @x.LastName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Order/Invoice Number</label>
                    <input id="txtInvNumber" type="number" class="form-control" step="1" placeholder="Order/Invoice number..." />
                </div>
                <div class="form-group col-md-3">
                    <label>Date From</label>
                    <input id="dtFrom" type="date" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label>Date To</label>
                    <input id="dtTo" type="date" class="form-control" />
                </div>
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-outline-success w-100" onclick="OrdersManager.DownloadBalanceSheet()"> <i class="fa fa-file-excel"></i> Download Excel Sheet</button>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-outline-danger w-100" onclick="OrdersManager.DownloadBalancePdf()"> <i class="fa fa-file-pdf"></i> Download PDF File</button>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/js/order-manager.js" asp-asp-append-version="true"></script>


