@{
    ViewData["Title"] = "Customers";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Customers</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Customers</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List of Customers</h3>
                            <button class="btn btn-info btn-sm float-right" onclick="CustomerManager.LoadSaveForm(0)"><i class="fa fa-user-plus"></i> Add Customer</button>
                        </div>

                        <div class="card-body">
                            <table id="dtCustomer" class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Customer No</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Mobile Number</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/js/customer-manager.js" asp-asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        CustomerManager.LoadDataTable();
    })
</script>